.error{
    color: red;
}
.quizApp{
    width: 100%;
    height: 100vh;
    background-color:rgb(246,247,251);
}
.App{
    
}
html{
    width: 100%;
    height: 100vh;
}

/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    text-align: center;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

/*======================
    Login Page
=======================*/

.detailsApp{
    text-align: center;
    height: 100%;
}

.detailsApp h1 {
    margin-top: 29%;
}

.detailsApp p {
    font-size: x-large;
}

/*======================
    Play Page
=======================*/

.actionQuestion{
    display: flex;
    justify-content: center;
    
}
.answers {
    width: 100%;
    height: 40%;
    border-radius: 9px;
}
.selectAnswer{
    background-color: #f8c008;
    height: 60px;
    width: 470px;
    border-style: solid;
    border-radius: 8px;
    margin: 0 auto;
    font-weight: 600;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.answer {
    background-color: #a1862e;
    height: 60px;
    width: 470px;
    border-style: solid;
    border-radius: 8px;
    margin: 0 auto;
    font-weight: 600;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.imageQuestion {
    width: 100%;
    height: 15%;
}
